<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="1.0">
<dict>
	<key>model</key>
	<string>gun_2/gun_2.gaf</string>
	<key>pivot_x</key>
	<real>-205</real>
	<key>pivot_y</key>
	<real>180</real>
	<key>projectile</key>
	<string>laser/laser.gaf</string>
	<key>projectile_pivot_x</key>
	<real>-160</real>
	<key>projectile_pivot_y</key>
	<real>215</real>
	<key>projectile_speed</key>
	<real>1000</real>
	<key>damage</key>
	<real>1</real>
	<key>reload_time</key>
	<real>1</real>
	<key>shoot_delay</key>
	<real>0.8</real>
</dict>
</plist>
