<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="1.0">
<dict>
	<key>model</key>
	<string>gun_1/gun_1.gaf</string>
	<key>pivot_x</key>
	<real>-160</real>
	<key>pivot_y</key>
	<real>200</real>
	<key>projectile</key>
	<string>bullet/bullet.gaf</string>
	<key>emission_point_x</key>
	<real>280</real>
	<key>emission_point_y</key>
	<real>-80</real>
	<key>projectile_pivot_x</key>
	<real>-410</real>
	<key>projectile_pivot_y</key>
	<real>286</real>
	<key>projectile_speed</key>
	<real>5000</real>
	<key>damage</key>
	<real>1</real>
	<key>reload_time</key>
	<real>0.5</real>
	<key>shoot_delay</key>
	<real>0.1</real>
</dict>
</plist>
